# Database
DATABASE_URL=postgresql://castify:STRONG_PASSWORD@postgres:5432/castify_db
POSTGRES_USER=castify
POSTGRES_PASSWORD=STRONG_PASSWORD
POSTGRES_DB=castify_db

# Redis
REDIS_URL=redis://redis:6379

# JWT
JWT_SECRET=GENERATE_WITH_openssl_rand_-base64_64
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Streaming
STREAMING_SECRET=GENERATE_WITH_openssl_rand_-base64_32
HLS_BASE_URL=https://CASTIFY_DOMAIN
SRS_INTERNAL_URL=http://srs:1985

# App
NODE_ENV=production
NEXT_PUBLIC_API_URL=https://CASTIFY_DOMAIN
NEXT_PUBLIC_TRACKER_URL=wss://CASTIFY_DOMAIN/announce

# WebRTC / mediamtx (URL que el browser puede alcanzar directamente)
MEDIAMTX_URL=http://CASTIFY_DOMAIN:8889
NEXT_PUBLIC_MEDIAMTX_URL=http://CASTIFY_DOMAIN:8889

# VOD
VOD_UPLOAD_DIR=/tmp/castify-uploads
HLS_VOD_DIR=/var/hls/vod
